.publish-container {
  margin: auto;
  width: 80%;
  max-width: 600px;
}

.publish-header {
  text-align: center;
  margin-bottom: 20px;
}

.publish-form {
  display: flex;
  flex-direction: column;
}

.publish-input,
.publish-textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.publish-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.publish-button:hover {
  background-color: #0056b3;
}
